{% extends "layout.twig" %}

{% block main %}
    <h1>{{ title }}</h1>
    {% for section in items %}
        {% if section.type == "text" %}
            {% include "sections/text.twig" with {
                title: section.title,
                text: section.text
            } only %}
        {% elseif section.type == "reusable" %}
            {% set reusable = section.reusable.section.0 %}
            {% if reusable.type == "text" %}
                {%  include "sections/text.twig" with {
                    title: reusable.title,
                    text: reusable.text
                } only %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <section>
        {% set contactForm = getForm('contact') %}
        <form method="{{ contactForm.attrs.method }}" action="{{ contactForm.attrs.action }}">
          {% for field in contactForm.fields %}
               {% if field.type == "text"%}
                    {% if field.hide_display == false %}<label>{{ field.display }}</label>{% endif %}
                    <input type="{{ field.input_type }}" name="{{ field.handle }}">
                {% endif %}
          {% endfor %}
            <button type="submit">{{ "Contact us"|trans }}</button>
        </form>
    </section>
{% endblock %}
